{% extends '@AcMarcheEnquetePublique/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Liste des enquêtes publiques</h3>
    </div>

    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Localité</th>
        </tr>
        </thead>
        <tbody>
        {% for enquete in enquetes %}
            <tr>
                <td>
                    <a href="{{ path('enquete_show', { 'id': enquete.id }) }}">
                        {{ enquete }}
                    </a>
                </td>
                <td> {{ enquete.localite }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
