{% extends '@AcMarcheEnquetePublique/layout.html.twig' %}

{% block body -%}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Nouvelle enquête</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheEnquetePublique/enquete/_form.html.twig' %}
        </div>
        <div class="card-footer">
            <a href="{{ path('enquete_index') }}">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler et retour à la liste
            </a>
        </div>
    </div>

{% endblock %}
