{% extends '@AcMarcheEnquetePublique/layout.html.twig' %}

{% block body -%}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ categorie }}</h3>
        </div>
        <div class="card-body">

            {% include '@EnquetePublique/categorie/_actions.html.twig' %}

            <br/><br/>

            {% include '@EnquetePublique/categorie/_delete.html.twig' %}
        </div>
    </div>
{% endblock %}
